# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import csv
import json

# Import API key
from api_key import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
data_df=pd.read_csv("../WeatherPy/city.csv")
data_df

,Unnamed: 0,City,Country,Date,Cloudiness,Humidity,Wind Speed,Max Temp,Lat,Lng
0,0,Ust'-Omchug,RU,1619315695,99,68,8.97,15.57,61.1500,149.6333
1,1,Atuona,PF,1619315176,62,73,16.08,80.80,-9.8000,-139.0333
2,2,Port Elizabeth,ZA,1619315199,90,100,6.91,59.00,-33.9180,25.5701
3,3,Albany,US,1619315106,100,37,1.92,55.00,42.6001,-73.9662
4,4,Ushuaia,AR,1619315380,20,50,2.30,50.00,-54.8000,-68.3000
...,...,...,...,...,...,...,...,...,...,...
542,542,Newport,GB,1619315868,3,65,11.50,48.20,51.5877,-2.9984
543,543,Devils Lake,US,1619315869,1,28,8.05,43.00,48.1128,-98.8651
544,544,Camacha,PT,1619315501,20,77,13.80,62.60,33.0833,-16.3333
545,545,Arrondissement de Morlaix,FR,1619315869,0,76,11.50,48.20,48.5833,-4.0000
546,546,La Ronge,CA,1619315741,99,50,6.91,30.20,55.1001,-105.2842

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = data_df[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = data_df["Humidity"]

In [14]:
# Plot Heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
max_intensity = np.max(humidity)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [28]:
vacation_df = data_df.loc[(data_df["Wind Speed"] <= 10) & (data_df["Cloudiness"] <=30) & (data_df["Cloudiness"] >=5) & \
                        (data_df["Humidity"] <=50) & (data_df["Max Temp"] >= 60) & (data_df["Max Temp"] <= 80)].dropna()

vacation_df

,Unnamed: 0,City,Country,Date,Cloudiness,Humidity,Wind Speed,Max Temp,Lat,Lng
104,104,Nioro,GM,1619315725,8,35,9.35,75.76,13.3500,-15.7500
140,140,College,US,1619315245,20,18,4.61,62.60,64.8569,-147.8028
408,408,Palmer,US,1619315572,20,31,9.22,60.80,42.1584,-72.3287
483,483,Sitka,US,1619315848,20,21,8.05,60.80,57.0531,-135.3300
497,497,Buritama,BR,1619315853,23,48,4.70,68.13,-21.0661,-50.1472

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [3]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure